* {
    font-family: "Gochi Hand", sans-serif;
}

/* body {
    
    background-image: url(./wavy-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
} */

body {
    
}
    

button {
    position: relative;
    width: 100px;
    top: 10px;
    left: 10px;
    padding: 10px;
    font-size: 20px;
    background-color: #976bed;
    border: none;
    
}

h2 {
    font-family: "Yeseva One", sans-serif;
    font-size: 6vh;
    height: 100px;
    text-align: center;
    margin-top: 20px;  
}

.container {
    height: 100vh;

}

.blog-posts {    
    /* margin-top: 50px; */
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.post {
    border: 2px solid white;
    margin: 10px;
    padding: 10px;
    width: 200px;
    background: #c6c6c6;
    color: var(--header-text);
    }

    footer {
        /* this isnt working?? the footer is all messed up */
        font-family: "Yeseva One", sans-serif;
    }

/* how do i style the elements inside the posts? */

/* Media Queries */
 
/* @media (max-width: 400px) {
} */