/* Custom Styles */

.blog-header {
    margin: 30px 0;
}

form#blog-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
}

form>* {
    margin-bottom: 10px;
    padding: 6px 12px;
}

form input {
    background: var(--input-background)!important;
    color: var(--input-text);
}

#content {
    height: 100px;
}

#content::placeholder {
    text-align: left;
    /* TODO vertical align top not working */
    vertical-align: top;
}

button {
    height: 50px;
    font-size: large;
    background-color: #976bed;
}

/* Media Queries */

/*@media (max-width: 400px) {
    #blog-form {
        width: 90%;
}*/

/* this isnt working */
