/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Yeseva One", sans-serif;
    color: #0e2168;
}
html, body {
    height: 100%;
}

body {
    background-image: url(./wavy-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #333;
}

button {
    border: none;
}

/* Global Reusable Classes */

.text-center {
    text-align: center;
}

footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

